body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #2c3531;
}

a {
  text-decoration: none;
  color: #252525;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 630px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  	max-width:660px;
}
.card:hover #s #r{
  display:block;
}
#s #r{
  display:'none';
}
.title {
  color: grey;
  font-size: 18px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}
.titleMain{
  color: #116466;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.rightpush {
  margin-left: 50%;
}
.oneline{
  display:flex;
  align-content:start;
  justify-content:center;
}

.nav ul li:last-child{
  padding left:40px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  color: #ffcb9a
}

.avatar {
  height: 80px;
  border-radius: 20px;
  margin: 45px;
}

.avatarsmall {
  height: 25px;
  border-radius: 10px;
  margin-right:15px;
  margin-top:-4.5px;
}

.question {
  width: 80%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction:row;
  align-item:space-between;
  justify-content:space-between;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.lb {
  max-width:450px;
  padding: 10px;
  display: flex;
  flex-direction:column;
  align-item:center;
  align-content:center;
  justify-content:center;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}
.ds{
  display:'none';
}

.lbs {
  max-width:500px;
  padding: 10px;
  display: flex;
  flex-direction:column;
  align-item:center;
  align-content:center;
  justify-content:center;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}
.lb #q{
  border-style: solid none none none;
}

.lb #ans{
  border-style:  none none solid none;
}
.signin {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-self:center;
  align-content:center;
  margin: 0 auto;
  border: 2px solid #dad7d7;
  border-radius: 3px;
}
.signin select{
  width:60%;
  padding:5px;
  margin: auto;
  border: 2px solid #dad7d7;
}
.question-left{
 display: flex;
 align-item: center;
 align-self:center;
  justify-content:flex-start;
  margin-right: auto;
   flex-direction:column;

}
.question-right{
 display: flex;
 align-item: center;
  justify-content:center;
 flex-direction:column;
}
.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}


.new-question {
  width: 70%;
  height: 15px;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-content:space-around;
  flex-direction: column;
}

